.content {
    margin: 200px 0 0;
}

.content h1,
.content p {
    text-align: center;
}

#login-form {
    width: 300px;
    margin: 0 auto;
}

#login-form [type="submit"] {
    display: block;
    margin: 0 auto;
}